<html>
    <body>
        <form action="{{url_for('addrec')}}"  method="POST">
            <h3> Civilization</h3>
            Id <br>
            <input type="number" name="id"/><br>

            Name<br>
            <textarea type="text" name="name"></textarea><br>

            Army_type<br>
            <input type="text" name="army_type" /><br>

            Expansion<br>
            <input type="text" name="expansion" /><br>

            <input type="submit" value="submit" /><br>
        </form>

    </body>

</html>