<html Lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>

</head>
<body>
    <a href="/list">Display all Civilizations</a>
    <p></p>
    <a href="/s_specify">Select a Civilization</a>
    <p></p>
    <a href="/d_specify">Remove a Civilization</a>
    <p></p>
    <a href="/u_specify">Update a Civilization</a>
    <p></p>
    <a href="/addnew"> Add new Civilization </a>

</body>

</html>