<html>
<body>

<h2>Please select from below to remove a row</h2>
  <form name="options" action="{{url_for('d_specific')}}"  method="POST">

  <label for="options">Choose a Column:</label>
    <select id="options" name="options">
      <option value="id">Id</option>
      <option value="name">Name</option>
      <option value="army_type">Army_type</option>
      <option value="expansion">Expansion</option>
    </select>
    <input type="text" name="inputted"/>   <input type="submit">
  </form>

</body>
</html>
